.search-box {
  appearance: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 200px;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: inherit;
  border-radius: 5px;
}
